{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}


<table class="table table-striped table-bordered">
		  <thead>
		    <tr>

		      <th scope="col">RUT</th>	
		      <th scope="col">Descripción</th>
		      <th scope="col">Email</th>
		      <th scope="col">Comuna</th>
		      <th scope="col">Ciudad</th>
		      <th scope="col">Región</th>
		      <th scope="col">ID</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		    {% if clientes %}

				{% for cli in clientes %}
					<tr>
						<td> <a href="{% url 'cliente' cli.id %}"> {{ cli.rut }}</a></td>
											 
						<td>{{ cli.descripcion }}</td>
						<td>{{ cli.email }}</td>
						<td>{{ cli.comuna }}</td>
						<td>{{ cli.ciudad }}</td>
						<td>{{ cli.region }}</td>
						<td><a href="{% url 'cliente' cli.id %}"> {{ cli.id }}</a></td>
											   
					</tr>
					
				{% endfor %}

			{% endif %}
		      
		    </tr>
		  </tbody>
		</table>

		

	{% else %}

			<h1>Login</h1>
			<br/>

			<form method="POST" action="{% url 'home' %}">

				{% csrf_token %}				
				  <div class="mb-3">			    
				    <input type="text" class="form-control" name="username", placeholder="Su nombre por favor:", required>					  
				  </div> 
				  <br/>
				  <div class="mb-3">			    
				    <input type="password" class="form-control" name="password", placeholder="Su contraseña:", required>
				  </div> <br/>			  
				  <button type="submit" class="btn btn-secondary">Login</button>
					
			</form>		
	
	{% endif %}
{% endblock %}