{% extends 'base.html' %}
{% block content%}


<div class="col-md-6 offset-md-3">
	<h1> Registro </h1> 
	<br/>

	<form method="POST" action="">
		{% csrf_token %}
			{% if form.errors %}
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					Su formato tiene errores - Favor revisar
					{% for field in form %}
						{% if field.errors %}
							{{ field.errors }}
						{% endif %}
					{% endfor %}
					<button type="submit" class="btn btn-secondary">Cerrar</button>
				</div>
			{% endif %}

			{{ form.as_p }}				
				
			<br/>			
				<button type="submit" class="btn btn-secondary">Registrarse</button>					  
	</form>	



</div>

{% endblock %}